<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지(나의기부)</title>
    <link rel="stylesheet" href="/css/myPageDonate.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/headerLogin.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<!-- header -->
    <header class="header" th:replace="fragments/header :: header">
    </header>
<main>
    
    <h2 class="donate-title">나의후원내역</h2>

    <section class="donate-section">
        <!-- 메뉴바 -->
        <article class="donate-article">
            <ul class="article-list">
                <li class="article-donate">
                    <a class="article-donate-tag" href="/myPage/myPageDonation">
                        <div class="article-donate-text">
                            나의후원내역
                        </div>
                        <div class="article-donate-text2">
                            〉
                        </div>
                    </a>
                </li>

                <li class="article-cs">
                    <a class="article-cs-tag" href="/myPage/myPageCs">
                        <div class="article-cs-text">
                            나의참여
                        </div>
                        <div class="article-cs-text2">
                            〉
                        </div>
                    </a>
                </li>

                <li class="article-user">
                    <a class="article-user-tag" href="/myPage/myPageUser">
                        <div class="article-user-text">
                            나의정보
                        </div>
                        <div class="article-user-text2">
                            〉
                        </div>
                    </a>
                </li>

            </ul>
        </article>

        <!-- 후원건수, 총후원금 -->
        <div class="donate-part" >
            <ul class="donate-table">
                <li class="donate-cnt">
                    <div class="donate-cnt-text">
                        전체 후원
                    </div>
                    <div class="donate-cnt-text2">
                        <div class="donate-cnt-text2-cnt" th:text="${donateCount}">
                            5
                        </div>
                        <div class="donate-cnt-text2-text">
                            건
                        </div>
                    </div>
                </li>
                <li class="donate-table-middle">
                    |
                </li>
                <li class="donate-total">
                    <div class="donate-total-text">
                        총후원금
                    </div>
                    <div class="donate-total-text2">
                        <div class="donate-total-text2-cnt" th:text="${totalDonateAmount}">
                            500,000
                        </div>
                        <div class="donate-total-text2-text">
                            원
                        </div>
                    </div>
                </li>
            </ul>

            <!-- 후원 리스트 카테고리 -->
            <ul class="donate-list-category">
                <li class="category-num">후원번호</li>
                <li class="category-title">후원캠페인명</li>
                <li class="category-donate">후원금</li>
                <li class="category-date">후원일자</li>
            </ul>

            <!-- 후원내역 리스트 -->
            <ul class="donate-list" th:each="board : ${List}">
                <li class="list-num" th:text="${board.donateNumber}"></li>
                <li class="list-title" th:text="${board.donateWriteTitle}"></li>
                <li class="list-donate" th:text="${board.donateAmount}"></li>
                <li class="list-date" th:text="${board.donateDate}"></li>
            </ul>
<!--            <ul class="donate-list">-->
<!--                <li class="list-num">1</li>-->
<!--                <li class="list-title">강원도 산불 재난 후원</li>-->
<!--                <li class="list-donate">100,000원</li>-->
<!--                <li class="list-date">2023-09-10</li>-->
<!--            </ul>-->

            
        </div>

        
    </section>

</main>
<footer class="footer" th:replace="fragments/footer :: footer"></footer>


<script defer src="/js/myPageDonate.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
</body>
</html>