<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dasom.mapper.DonateListMapper">

    <!--    기부 리스트 전체 게시글 수 구하기-->
    <select id="selectTotal" resultType="_int">
        SELECT COUNT(DONATEWRITE_NUMBER)
        FROM TBL_DONATEWRITE
        WHERE DONATEWRITE_STATUS = #{status}
    </select>

    <!--총 기부 게시글 출력-->
    <select id="selectList" resultType="donateListVo">

        SELECT DONATEWRITE_NUMBER,
               DONATEWRITE_TITLE,
               DONATEWRITE_STATUS,
               DONATEWRITE_DATE,
               DONATEFILE_NUMBER,
               DONATEFILE_NAME,
               DONATEFILE_UPLOAD_PATH,
               DONATEFILE_UUID
        FROM (
                 SELECT ROWNUM RNUM,
                        DONATEWRITE_NUMBER,
                        DONATEWRITE_TITLE,
                        DONATEWRITE_STATUS,
                        DONATEWRITE_DATE,
                        DONATEFILE_NUMBER,
                        DONATEFILE_NAME,
                        DONATEFILE_UPLOAD_PATH,
                        DONATEFILE_UUID
                 FROM (SELECT w.DONATEWRITE_NUMBER,
                              DONATEWRITE_TITLE,
                              DONATEWRITE_STATUS,
                              DONATEWRITE_DATE,
                              DONATEFILE_NUMBER,
                              DONATEFILE_NAME,
                              DONATEFILE_UPLOAD_PATH,
                              DONATEFILE_UUID
                       FROM TBL_DONATEWRITE W
                                JOIN TBL_DONATEFILE F
                                     ON W.DONATEWRITE_NUMBER = F.DONATEWRITE_NUMBER
                       WHERE DONATEWRITE_STATUS = #{status}
                       ORDER BY W.DONATEwRITE_NUMBER DESC)
    <![CDATA[
                 WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
        ]]>
        )
        WHERE RNUM > (#{criteria.page} - 1) * #{criteria.amount}


    </select>

    <!--   카카오페이 페이지에 입력될 유저이름 출력-->
    <select id="selectKakaoUserName" resultType="String">
        SELECT USER_NAME
        FROM TBL_USERS
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <!-- 게시글번호로 게시글 제목 찾기    -->
    <select id="selectDonateWriteTitle" resultType="String">
        SELECT DONATEWRITE_TITLE
        FROM TBL_DONATEWRITE
        WHERE DONATEWRITE_NUMBER = #{donateWriteNumber}
    </select>

</mapper>