<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>후원 글 관리</title>
    <link rel="stylesheet" href="/css/button.css" />
    <link rel="stylesheet" href="/css/arrow.css" />
    <link rel="stylesheet" href="/css/adDonation.css" />
  </head>
  <body>
    <div class="container">
      <!-- 좌측 어사이드 -->
      <aside>
        <div class="aside-spacing"></div>
        <section class="">
          <a class="member-a" href="/admin/adUser">
            <div class="member-text">회원관리</div>
          </a>
        </section>
        <section class="board-mate">
          <a class="board-mate-a" href="/admin/adDonationList">
            <div class="board-mate-text">후원금리스트</div>
          </a>
        </section>
        <section class="member">
          <a class="board-free-a" href="/admin/adDonation">
            <div class="board-free-text">후원 글 관리</div>
          </a>
        </section>
        <section class="board-qna">
          <a class="board-qna-a" href="/admin/adCs">
            <div class="board-qna-text">봉사 글 관리</div>
          </a>
        </section>
        <section class="board-logout">
          <a class="board-logout-a" href="/admin/logout">
            <div class="board-logout-text">로그아웃</div>
          </a>
        </section>
      </aside>

      <!-- 우측 게시글 목록 창 -->
      <main>
        <!-- 카테고리 & 글쓰기 창 -->
        <section class="section-top">
          <!-- 카테고리명 - 회원관리 -->
          <div class="section-top-category-name">
            <div class="section-top-category-name-text">후원 글 관리</div>
          </div>

        </section>

        <!-- 검색바 -->
        <section class="section-search">
          <form class="search-form" action="/admin/adDonation" method="get">
            <div class="search-inner">
              <select class="search-dropdown" name="cate" th:value="${searchCate}">
                <option value="campaign">캠페인명</option>
              </select>
              <input class="search-bar" type="text" name="keyword" th:value="${searchKeyword}"/>
              <button class="search-button" type="submit">검색</button>
            </div>
          </form>
          <button onclick="location.href='/donateWrite/write'" class="button-write">글쓰기</button>
        </section>

        <!-- 회원 목록 -->
        <section class="section-board">
          <!-- 회원목록 컬럼 값 -->
          <div class="section-board-top">
            <div class="num">번호</div>
            <div class="campaign">캠페인명</div>
            <div class="writeDate">작성일자</div>
            <div class="state">상태</div>
            <div class="empty"></div>
            <div class="empty"></div>
          </div>

          <!-- 회원목록 데이터값 -->
          <div class="section-board-bottom" th:each="donate : ${donateWriteList}">
            <div class="num" th:text="${donate.donateWriteNumber}">1</div>
            <a class="campaign-btn" href="#" th:text="${donate.donateWriteTitle}" th:data-number="${donate.donateWriteNumber}">캠페인명</a>
            <div class="writeDate" th:text="${donate.donateWriteDate}">23.09.13</div>
            <div class="state" th:text="${donate.donateWriteStatus == '1' ? '모집중' : '모집완료'}"></div>
            <div class="execute">
              <button class="btngreen" th:onclick="|location.href='@{/donateWrite/modify(donateWriteNumber=${donate.donateWriteNumber})}'|">수정</button>
            </div>
            <div class="execute">
              <button class="btnred" th:attr="data-donateWriteNumber=${donate.donateWriteNumber}"
                      onclick="deleteDonation(this.getAttribute('data-donateWriteNumber'))">삭제</button>
            </div>
            <div class="execute"
                 th:if="${donate.donateWriteStatus == '1'}">
              <button th:attr="data-donateWriteNumber=${donate.donateWriteNumber}"
                      onclick="recruitDonation(this.getAttribute('data-donateWriteNumber'))"
                      class="btngray">마감</button>
            </div>
            <!--   봉사 참여자 리스트  -->
            <div class="donate-user-modal">
              <div class="donate-user-list">
                <div class="donate-user-title" th:text="'[후원모금] '+${donate.donateWriteTitle} +' 후원 목록'"></div>
                <div class="donate-write_amount">

                </div>
                <!--    봉사참여자 카테고리     -->
                <div class="donate-user-group">
                  <ul class="donate-user">
                    <li class="donate-user-num">후원번호</li>
                    <li class="donate-user-id">아이디</li>
                    <li class="donate-user-name">이름</li>
                    <li class="donate-user-amount">금액</li>
                    <li class="donate-user-date">후원일자</li>
                  </ul>

                  <!-- 봉사 참여자 리스트 비동기로 불러오기 -->
                  <div class="donate-cate-bottom">

                  </div>

                  <button type="button" class="modal-close">닫기</button>
                </div>
              </div>
            </div>
          </div>
          <div class="noResult-text" th:if="${#lists.isEmpty(donateWriteList)}">
            <h3>일치하는 검색결과가 없습니다</h3>
          </div>

        </section>
        <!-- 페이징  -->
        <section class="section-paging">
          <div class="page_wrap">
            <div class="page_nation">
              <!-- 이전 페이지 링크 -->
              <a th:href="@{'/admin/adDonation?page=' + ${pageInfo.startPage-1} + '&keyword=' + ${searchKeyword} + '&cate=' + ${searchCate}}"
                 class="arrow prev" th:if="${pageInfo.prev}">&lt;</a>

              <!-- 페이지 번호 순환 출력 -->
              <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
                <a th:href="'/admin/adDonation?page=' + ${i} + '&keyword=' + ${searchKeyword} + '&cate=' + ${searchCate}" class="active"
                   th:text="${i}" th:if="${i != pageInfo.criteria.page}"></a>
                <a th:href="'/admin/adDonation?page=' + ${i} + '&keyword=' + ${searchKeyword} + '&cate=' + ${searchCate}" class="activeNow"
                   th:text="${i}" th:unless="${i != pageInfo.criteria.page}"></a>
              </th:block>

              <!-- 다음 페이지 링크 -->
              <a th:href="@{'/admin/adDonation?page=' + ${pageInfo.endPage+1} + '&keyword=' + ${searchKeyword} + '&cate=' + ${searchCate}}"
                 class="arrow next" th:if="${pageInfo.next}">&gt;</a>

            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script defer src="/js/adDonation.js"></script>
  </body>
</html>
