<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/donationPay.css" />
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script defer src="/js/donationPay.js"></script>
</head>
<body> 
    <!-- header -->k
    <header class="header" th:replace="fragments/header :: header"/>
    <!-- out:container -->
    <div class="container">
        <h1> 다솜아띠 후원 </h1>
      <!-- form -->
      <div class="form-wrap">
        <form class="pay-form" action="/donate/complete" method="get">
          <div class="form-group-hidden">
            <label for="campaign">캠페인명</label>
              <div id="hidden-box">
            <input type="hidden" id="campaign" name="campaign" th:value="${campaign}" th:text="${campaign}" />
              </div>
          </div>
          <div class="form-group-hidden">
              <label for="name">후원자명</label>
              <div id="hidden-box">
              <input type="hidden" id="name" name="name" th:value="${name}" th:text="${name}" />
              </div>
          </div>
            <input type="hidden" name="donateWriteNumber" th:value="${donateWriteNumber}">
          <div class="form-group">
            <label for="pay">후원금액</label>
            <input type="text" id="pay-amount" name="donateAmount" placeholder="후원 금액을 입력하세요" required />
          </div>
          <!-- btn -->
          <button type="button" id="check_module">후원하기</button>
        </form>
      </div>
    </div>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <footer class="footer" th:replace="fragments/footer :: footer"></footer>
 <script>

    $("#check_module").click(function () {
        event.preventDefault();
    // 생략가능
      var IMP = window.IMP;
    // 가맹점 식별코드 입력
      IMP.init('imp44070752');

      // input 값 받을 변수 선언
    let payAmount = $('#pay-amount').val();
    let campaign = $('#campaign').val();
    let name = $('#name').val();

    // PG상점아이디 (CID) 입력력
      IMP.request_pay({
         pg: 'kakaopay.TC0ONETIME',
         pay_method: 'card',
         merchant_uid: 'merchant_' + new Date().getTime(),

         // 결제창에서 보여질 이름
         name: '캠페인 명 : ' + campaign,
         // 후원금
         amount: '후원 금액 : ' + parseInt(payAmount),
        // 후원자 명
         vol_name: '후원자 명 :' + name,

         vol_postcode: '123-456',
         }, function (rsp) {
            console.log(rsp);
         if (rsp.success) {
            var msg = '결제가 완료되었습니다.';
            msg += '결제 금액 : ' + rsp.paid_amount;
            $('.pay-form').submit();
            // 결제 성공 시 정보를 넘겨줘야한다면 body에 form을 만든 뒤 위의 코드를 사용하는 방법이 있습니다.
            // 자세한 설명은 구글링으로 보시는게 좋습니다.
         } else {
            var msg = '결제에 실패하였습니다.';
            msg += '에러내용 : ' + rsp.error_msg;
         }
         alert(msg);
      });
      console.log(IMP.request_pay);
   });
 </script>


</body>
</html>