<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
<!--    <link rel="stylesheet" href="/css/footer.css">-->
</head>
<body>

<footer class="footer" th:fragment="footer">
    <div class="inner">
        <p class="info">
            서울특별시 노원구 상계로1길 34 5 6층 (사)다솜아띠
            <br>
            (사)다솜아띠 &nbsp;&nbsp;&nbsp;&nbsp;사업자번호 111-82-11111&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;대표자 나예은
            <br>
            사회복지법인 다솜아띠&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;고유번호 111-82-12345&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;대표자 예은나
            <br>
            재단법인 다솜아띠&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;사업자번호 111-82-33333&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;대표자 나예은
        </p>
        <p class="intro">
            다솜아띠는 2023년, 유엔 경제사회이사회(UN ECOSOC)의 특별협의지위(Special Consultative Status)를 획득한 단체이기를 희망합니다
        </p>
        <p class="copyright">COPYRIGHT ©DASOM All rights reserved.</p>

    </div>
</footer>

<script defer src="/js/footer.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
</body>
</html>