<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
<!--    <link rel="stylesheet" href="/css/header.css">-->
</head>
<body>
<header class="header" th:fragment="header">
    <div class="main-header-container">
        <div class="main-header-logo">
            <a href="/main/mainPage" class="main-header-logo-tag">
                <img src="/img/logo.png" class="main-header-logo-img"
                     alt="main-header-logo-img">
            </a>
        </div>
        <nav class="main-header-category">
            <ul class="main-header-category-ul">   
                <li class="main-header-category-list">
                    <a href="/donate/list" class="main-header-category-donatetag">
                    후원
                    </a>
                </li>
                <li class="main-header-category-list">
                    <a href="/cs/list" class="main-header-category-voltag">
                    봉사
                    </a>
                </li>
                <li class="main-header-category-list">
                    <a th:href="${session.userNumber != null ? '/shelter/shelterLogin' : '/shelter/shelter'}" class="main-header-category-emtag">
                    대피소 안내
                    </a>
                </li>
            </ul>
        </nav>
        <div class="main-header-service" th:if="${session.userNumber == null}">
            <div class="main-header-service-login">
                <a class="main-header-service-login-tag"
                href="/user/login">
                    로그인
                </a>
            </div>
            <div class="main-header-service-join">
                <a class="main-header-service-join-tag"
                href="/user/join">
                    회원가입
                </a>
            </div>
        </div>
        <div class="main-header-service" th:unless="${session.userNumber == null}">
            <div class="main-header-service-mypage">
                <a class="main-header-service-mypage-tag"
                   href="/myPage/myPageDonation">
                    <img src="/img/mypage.png" alt="mypage-img"
                         class="mypage-img">
                </a>
            </div>
            <div class="main-header-service-logout">
                <a class="main-header-service-logout-tag"
                   href="/user/logout">
                    로그아웃
                </a>
            </div>
        </div>
    </div>
</header>

<script defer src="/js/header.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
</body>
</html>