@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'LINESeedKR-Bd';
    /* border: 1px black solid; */
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.margin-auto {
    margin: auto;
}


main {
    width: 1400px;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
}

/* 상단 이미지 배너 */
.top-banner {
    width: 1300px;
    height: 200px;
    position: relative;
}
.banner-text {
    width: 200px;
    height: 100px;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.banner-img-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 진행중인캠페인/종료된캠페인 */
.campaign-open-close {
    width: 1240px;
    height: 90px;
    display: flex;
}

.campaign {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.campaign-text {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 10px;
}

.close>.campaign-text {
    color: #39b54a;
}

.open>.campaign-text {
    color: gray;
}

hr {
    width: 100%;
    height: 3px;
    border: none;
    background-color: #39b54a;
}

/*  게시글 리스트  */
.board-items {
    width: 1240px;
    min-height: 700x;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 400px));
    gap: 20px;
    margin: auto;
    margin-top: 30px;
    
    justify-content: center;
}
.main-va-tag{
    width: 350px;
    height: 200px;
    text-decoration: none;
    border-radius: 8px;
    padding: 15px;
    position: relative;
}
.main-va-tag:hover{
    box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.main-va-list{
    display: flex;
    flex-direction: column;
}
.main-va-text{
    font-size: 16px;
    color: #39a14a;
    margin-bottom: 10px;
    font-weight: bold;
}
.main-va-content{
    width: 70%;
    height: 55px;
    font-weight: 500;
    font-size: 20px;
    color: #000;
    margin-bottom: 30px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}
.main-va-at,
.main-va-date{
    display: flex;
    width: 100%;
}
.main-va-attext,
.main-va-datetext{
    margin-right: 20px;
    font-size: 14px;
    color: #9f9a9a;
}
.main-va-atcnt,
.main-va-datedetail{
    font-size: 14px;
    color: #000;
}

.main-va-status{
    position: absolute;
    right: 16px;
    top: 16px;
    width: 35px;
    height: 46px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    line-height: 1.13;
    padding: 12px 15px 0;
    background: #39b54a;
    border-radius: 20px 0 20px 0;
}